html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  background-color: #393939;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 80%;
}

.App {
  height: auto;
  border: #fff solid 2px;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 3rem;
}

h2 {
  text-align: right;
  padding-right: 1rem;
}

h3 {
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0.5rem;
  width: 40px;
  height: 15px;
  border-radius: 10px;
}

button {
  height: 19px;
}
.comp {
  width: auto;
  background-color: rgb(107, 50, 50);
  margin-bottom: 1rem;
  border-radius: 10px;
}

.subComp {
  background-color: rgb(56, 56, 131);
  padding: 10px;
  margin: 5px;
  margin-left: 3rem;
  border-radius: 10px;
}

.compContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.data {
  animation: rerender 1s linear forwards;
}

@keyframes rerender {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: translateY(-8px);
  }
}
